# ignore all final dataset due to weight
# rdata/
houseA.csv
houseB.csv
houseA_.csv
houseB_.csv
ldrF.csv


# Ignorar las capetas con db debido al peso
houses_with_time/
renamed_columns/
Aras_datasets/
data/houseB_time.csv
*.csv
